<%= form_with scope: :stock, url: stocks_path ,local: true do |form|%>
    <p>
        <%= form.label :stockName, 'Name of stock to search for' %>
        <%= form.text_field :title %>
    <p>

  <p>
    <%= form.submit %>
  </p>
<% end %>