<%= form_with scope: :stock, url: stocks_path ,local: true do |form|%>
  <p>
      <%= form.label :stockTicker, 'Name of stock to search for' %>
      <%= form.text_field :stockTicker %>
  <p>

  <p>
    <%= form.submit "Search for stock" %>
  </p>
<% end %>